CompileFlags:
  Add:
    - "-I/mnt/c/dev/SDL2-2.28.4/i686-w64-mingw32/include/SDL2"
    - "-I/mnt/c/dev/SDL2_ttf-2.20.1/include"
    - "-I/mnt/c/dev/SDL2_image-2.6.2/include"
    - "-I/mnt/c/sdl2"
    - "-I/mnt/c/emscriptem"
    - "-Isrc/core"
    - "-Isrc/tools"
    - "-Isrc/renderer"
    - "-Isrc/res"
    - "-Isrc/game"
    - "-Isrc/entity"
    - "-Isrc/imgui"
    - "-Isrc"
    - "-Iinclude"
