CompileFlags:
  Add:
  - "-IC:/dev/SDL2-2.28.4/i686-w64-mingw32/include/SDL2"
  - "-IC:/dev/SDL2_ttf-2.20.1/include"
  - "-IC:/dev/SDL2_image-2.6.2/include"
  - "-IC:/sdl2"
  - "-IC:/emscriptem"
  - "-I./src/core"
  - "-I./src/tools"
  - "-I./src/renderer"
  - "-I./src/res"
  - "-I./src/game"
  - "-I./src/entity"
  - "-I./src/imgui"
  - "-I./src"
  - "-I./include"